<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sensor_Rotate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <Sensor_Rotate.Properties.Settings>
            <setting name="frm5Portion" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="frm5DockState" serializeAs="String">
                <value>Unknown</value>
            </setting>
            <setting name="frm5AutoDockPortion" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="dockPanelTopPortion" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="dockPanelBottomPortion" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="dockPanelLeftPortion" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="dockPanelRightPortion" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="frm2Portion" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="frm2DockState" serializeAs="String">
                <value>Unknown</value>
            </setting>
            <setting name="frm2AutoDockPortion" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="frm3Portion" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="frm3DockState" serializeAs="String">
                <value>Unknown</value>
            </setting>
            <setting name="frm3AutoDockPortion" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="frm4Portion" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="frm4DockState" serializeAs="String">
                <value>Unknown</value>
            </setting>
            <setting name="frm4AutoDockPortion" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="wordPName" serializeAs="String">
                <value />
            </setting>
            <setting name="wordPModel" serializeAs="String">
                <value />
            </setting>
            <setting name="wordPCode" serializeAs="String">
                <value />
            </setting>
            <setting name="wordPRange" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="wordPVoltage" serializeAs="String">
                <value />
            </setting>
            <setting name="wordPCurrent" serializeAs="String">
                <value />
            </setting>
            <setting name="wordPControler" serializeAs="String">
                <value />
            </setting>
            <setting name="wordPAccuracy" serializeAs="String">
                <value />
            </setting>
            <setting name="wordPDate" serializeAs="String">
                <value />
            </setting>
            <setting name="wordFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="wordFilePath" serializeAs="String">
                <value />
            </setting>
        </Sensor_Rotate.Properties.Settings>
    </userSettings>
</configuration>
